{% extends "customer/base.html" %}
{% load static %}
{% block page %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <h1>Edit the Inventory Item</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inventory_category" class="form-label">Category</label>
                    <select name="inventory_category" id="inventory_category" class="form-control">
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == inventory_item.inventory_category.id %}selected{% endif %}>{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="shelf_number" class="form-label">Shelf Number</label>
                    <input type="number" class="form-control" id="shelf_number" name="shelf_number" value="{{ inventory_item.shelf_number }}">
                </div>
                <div class="mb-3">
                    <label for="purchase_id" class="form-label">Purchase ID</label>
                    <input type="number" class="form-control" id="purchase_id" name="purchase_id" value="{{ inventory_item.purchase_id }}">
                </div>
                <div class="mb-3">
                    <label for="item" class="form-label">Item</label>
                    <input type="text" class="form-control" id="item" name="item" value="{{ inventory_item.item }}">
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" value="{{ inventory_item.quantity }}">
                </div>
                <div class="mb-3">
                    <label for="unit" class="form-label">Unit</label>
                    <select name="unit" id="unit" class="form-select" aria-label="Default select example">
                        {% for value, name in unit_choices %}
                        <option value="{{ value }}" {% if value == inventory_item.unit %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="expiry_date" class="form-label">Expiry Date</label>
                    <input type="date" class="form-control" id="expiry_date" name="expiry_date" value="{{ inventory_item.expiry_date|date:'Y-m-d\\TH:i' }}">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" value="{{ inventory_item.price }}">
                </div>
                <button type="submit" class="btn btn-primary">Update Inventory</button>
            </form>
        </div>
    </div>
</div>
{% endblock page %}
