{% extends "customer/base.html" %}
{% block page %}
<div class="container text-center mt-5">
    <div class="row ">
      <div class="col">
            <table class="table" style="width: 70%;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">food_category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>
                <tbody>
                {% for i in menu %}
                    <tr>
                        <th scope="row">{{i.id}}</th>
                        <td>
                            <img src="{{ i.picture.url }}" width="200" height="150" alt="Image">
                        </td>
                        <td scope="col">{{i.name}}</td>
                        <td scope="col">{{i.detail}}</td>
                        <td scope="col">Rs.{{i.price}}</td>
                        <td scope="col">{{i.quantity}}</td>
                        <td>
                            <a href='/sadmin/del/{{i.id}}' class='btn btn-danger'> Delete </a>
                        </td>
                        <td>
                            <a href='/sadmin/update/{{i.id}}' class='btn btn-success'> Edit </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
          </table>
      </div>
      <div class="col">

        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" id="image" name='picture' aria-describedby="emailHelp">             
            </div>
            <div class="mb-3">
                <label for="food_category" class="form-label">Category</label>
                <input type="text" class="form-control" id="food_category" name='food_category' aria-describedby="emailHelp">       
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name='name' aria-describedby="emailHelp">       
            </div>
            
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" name='price' aria-describedby="emailHelp">             
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="text" class="form-control" id="quantity" name='quantity' aria-describedby="emailHelp">             
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
</div>
     
{% endblock page %}