{% extends "customer/base.html" %}
{% block page %}

{% if messages %}
{% for i in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{i}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}


<h2 style="font-family: 'Broadway', cursive;padding-left: 550px;">Login</h2>
<form method="POST" action='{% url "login" %}'>
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name='username' aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" name='password' aria-describedby="passwordHelpInline">
    </div>
  <input type="submit" value="Login">
</form>
{% endblock page %}